Version: 1.0
SCRIPTS
/*Master Script Address:*/ "!#EMPTY_STRING#!"
END_SCRIPTS
GMOOG
/*Experiment Active:*/ 0
/*Scripted Arb Address:*/
END_GMOOG
SIGLENT_AWG
/*Synced Option:*/ 0
CHANNEL_1
/*Channel Mode:*/				no_control
/*Polarity Invert:*/			205
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Phase:*/					"!#EMPTY_STRING#!"
/*Sine Burst:*/					0
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square DutyCycle:*/			"!#EMPTY_STRING#!"
/*Square Phase:*/				"!#EMPTY_STRING#!"
/*Square Burst:*/				0
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		"!#EMPTY_STRING#!"
/*Scripted Arb Calibrated:*/	0
CHANNEL_2
/*Channel Mode:*/				no_control
/*Polarity Invert:*/			205
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Phase:*/					"!#EMPTY_STRING#!"
/*Sine Burst:*/					0
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square DutyCycle:*/			"!#EMPTY_STRING#!"
/*Square Phase:*/				"!#EMPTY_STRING#!"
/*Square Burst:*/				0
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		"!#EMPTY_STRING#!"
/*Scripted Arb Calibrated:*/	0
/*Siglent FM Control:*/		0
/*Siglent FM External Clock:*/	1
/*Siglent FM CH1 Amplitude:*/	1.0
/*Siglent FM CH1 Phase:*/		0
/*Siglent FM CH1 Burst Cycles:*/	1
/*Siglent FM CH2 Frequency:*/	30
/*Siglent FM CH2 Amplitude:*/	8
/*Siglent FM CH2 Phase:*/		54
/*Siglent FM Deviation:*/		0.05
END_SIGLENT_AWG
SIGLENT_AWG_2
/*Synced Option:*/ 0
CHANNEL_1
/*Channel Mode:*/				no_control
/*Polarity Invert:*/			205
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Phase:*/					"!#EMPTY_STRING#!"
/*Sine Burst:*/					0
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square DutyCycle:*/			"!#EMPTY_STRING#!"
/*Square Phase:*/				"!#EMPTY_STRING#!"
/*Square Burst:*/				0
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		"!#EMPTY_STRING#!"
/*Scripted Arb Calibrated:*/	0
CHANNEL_2
/*Channel Mode:*/				no_control
/*Polarity Invert:*/			205
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Phase:*/					"!#EMPTY_STRING#!"
/*Sine Burst:*/					0
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square DutyCycle:*/			"!#EMPTY_STRING#!"
/*Square Phase:*/				"!#EMPTY_STRING#!"
/*Square Burst:*/				0
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		"!#EMPTY_STRING#!"
/*Scripted Arb Calibrated:*/	0
/*Siglent FM Control:*/		0
/*Siglent FM External Clock:*/	1
/*Siglent FM CH1 Amplitude:*/	1.0
/*Siglent FM CH1 Phase:*/		0
/*Siglent FM CH1 Burst Cycles:*/	1
/*Siglent FM CH2 Frequency:*/	100.0
/*Siglent FM CH2 Amplitude:*/	2.0
/*Siglent FM CH2 Phase:*/		0
/*Siglent FM Deviation:*/		0.05
END_SIGLENT_AWG_2
WIESERLABS_DDS

channel_1
/*On:*/					0
/*Frequency:*/				"!#EMPTY_STRING#!"
/*Amplitude:*/				"!#EMPTY_STRING#!"
/*Phase:*/					"!#EMPTY_STRING#!"
channel_2
/*On:*/					0
/*Frequency:*/				"!#EMPTY_STRING#!"
/*Amplitude:*/				"!#EMPTY_STRING#!"
/*Phase:*/					"!#EMPTY_STRING#!"
/*Control:*/				0
/*Script Address:*/			"!#EMPTY_STRING#!"
END_WIESERLABS_DDS
CAMERA_SETTINGS
/*Control Andor:*/			1
/*Trigger Mode:*/			External
/*Acquisition Mode:*/		Single-Scan
/*Gain Mode:*/				Fastest frame rate (12-bit)
/*Frame Rate:*/				1
/*Camera Temperature:*/		0
/*Number of Exposures:*/	1
/*Exposure Times:*/			0.009999999776483 
/*Andor Continuous Mode:*/	0
/*Andor Pics Per Rep:*/		1
END_CAMERA_SETTINGS
PICTURE_SETTINGS

/*Color Options:*/ 0 0 0 0 
/*Threshold Settings:*/ 100 100 100 100 
/*Software Accumulation (accum all / Number)*/ 0 1 0 1 0 1 0 1 
END_PICTURE_SETTINGS

CAMERA_IMAGE_DIMENSIONS
/*Left:*/ 851
/*Right:*/ 1300
/*H-Bin:*/ 2
/*Bottom:*/ 911
/*Top:*/ 970
/*V-Bin:*/ 2
END_CAMERA_IMAGE_DIMENSIONS
ANDOR_PICTURE_MANAGER
/*Slider Locs (Min/Max):*/
0 65535
0 65535
0 65535
0 65535
/*Auto-Scale Pics?*/ 205
/*Special >Max Color?*/ 205
/*Special <Min Color?*/ 205
/*Always Show Grid?*/ 205
END_ANDOR_PICTURE_MANAGER
DATA_ANALYSIS
/*Auto-Threshold Analysis?*/	0
/*Number of Analysis Grids: */	3
/*Grid #1:*/ 
/*Grid Origin X(Bottom-Left Corner Column):*/		0
/*Grid Origin Y(Bottom-Left Corner Row):*/		0
/*Grid Width:*/					0
/*Grid Height:*/				0
/*Pixel Spacing X:*/			0
/*Pixel Spacing Y:*/			0
/*Include Pixels X:*/			0
/*Include Pixels Y:*/			0
/*Use External File:*/			0
/*Grid File Name:*/				"!#EMPTY_STRING#!"
/*Grid #2:*/ 
/*Grid Origin X(Bottom-Left Corner Column):*/		0
/*Grid Origin Y(Bottom-Left Corner Row):*/		0
/*Grid Width:*/					0
/*Grid Height:*/				0
/*Pixel Spacing X:*/			0
/*Pixel Spacing Y:*/			0
/*Include Pixels X:*/			0
/*Include Pixels Y:*/			0
/*Use External File:*/			1
/*Grid File Name:*/				atomgrid_1x13_3points_2024-5-15
/*Grid #3:*/ 
/*Grid Origin X(Bottom-Left Corner Column):*/		0
/*Grid Origin Y(Bottom-Left Corner Row):*/		0
/*Grid Width:*/					0
/*Grid Height:*/				0
/*Pixel Spacing X:*/			0
/*Pixel Spacing Y:*/			0
/*Include Pixels X:*/			0
/*Include Pixels Y:*/			0
/*Use External File:*/			1
/*Grid File Name:*/				atomgrid_1x13_3points_2024-8-26
BEGIN_ACTIVE_PLOTS
/*Number of Active Plots:*/ 12
/*Active Plot #1*/
/*Plot Name:*/ Histogram-1Pic
/*Which Grid:*/ 0
/*Active Plot #2*/
/*Plot Name:*/ Histogram-2Pic
/*Which Grid:*/ 0
/*Active Plot #3*/
/*Plot Name:*/ Histogram-3Pic-Pic0
/*Which Grid:*/ 0
/*Active Plot #4*/
/*Plot Name:*/ Histogram-3Pic-Pic1
/*Which Grid:*/ 0
/*Active Plot #5*/
/*Plot Name:*/ Loadingrate-2Pic
/*Which Grid:*/ 0
/*Active Plot #6*/
/*Plot Name:*/ Loadingrate-3Pic
/*Which Grid:*/ 0
/*Active Plot #7*/
/*Plot Name:*/ Survival-2Pic
/*Which Grid:*/ 0
/*Active Plot #8*/
/*Plot Name:*/ Survival-3Pic-Pic1-0
/*Which Grid:*/ 0
/*Active Plot #9*/
/*Plot Name:*/ Survival-3Pic-Pic2-0
/*Which Grid:*/ 0
/*Active Plot #10*/
/*Plot Name:*/ test-3-pic
/*Which Grid:*/ 0
/*Active Plot #11*/
/*Plot Name:*/ test_2pic
/*Which Grid:*/ 0
/*Active Plot #12*/
/*Plot Name:*/ test_filename
/*Which Grid:*/ 0
END_ACTIVE_PLOTS
/*Display Grid?*/ 0
/*Auto Bump Analysis?*/ 0
/*Bump Param?*/ "!#EMPTY_STRING#!"
END_DATA_ANALYSIS
CONFIG_PARAMETERS
RANGE-INFO
/*# Scan Dimensions:*/	1
/*Dim #1:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*# Variables: */ 		0
END_CONFIG_PARAMETERS
TTL_SYSTEM
/*TTL Name:*/ greenmot blueimg mako1 greennarrow greenimg pixis_trg lattice latmove1 dds0 latmove2 blueshutter d11 scopetrigger camerashutter blue3dmot pushbeam tweezerhold dipolepushreptrg d1lgmtrg do3_3 do3_4 do3_5 do3_6 do3_7 do4_0 do4_1 do4_2 do4_3 do4_4 do4_5 do4_6 do4_7 do5_0 do5_1 do5_2 do5_3 do5_4 do5_5 do5_6 do5_7 do6_0 do6_1 do6_2 do6_3 do6_4 do6_5 do6_6 do6_7 do7_0 do7_1 do7_2 do7_3 do7_4 do7_5 do7_6 do7_7 do8_0 do8_1 do8_2 do8_3 do8_4 do8_5 do8_6 do8_7 
/*TTL State:*/ 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTL_SYSTEM
DAC_SYSTEM
/*DAC Name:*/ greenmot blueimg opamp dipolepushamp greenimg blue3dmot pushbeam blue2dmot latticedown latticeup biasz_old mot d1lgmeomamp bias1 bias2 biasz motcoil biascoilx biascoily biascoilz mw_iq_i mw_iq_q dac1_6 electrode1 electrode2 electrode3 electrode4 electrode5 electrode6 electrode7 electrode8 dac1_15 
/*DAC Value:*/ 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
/*DAC Value Max:*/ 2 2 10 7.3 2 2 2 2 1 1 5 5 9 5 5 5 10 10 10 10 4.5 4.5 10 10 10 10 10 10 10 10 10 10 
/*DAC Value Min:*/ 0 0 -9.9 0 0 0 0 0 -1 -1 0 0 0 0 0 0 -9.9 -9.9 -9.9 -9.9 -4.5 -4.5 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 
/*DAC Description:*/ dac0_0 dac0_1 dac0_2 dac0_3 dac0_4 dac0_5 dac0_6 dac0_7 dac0_8 dac0_9 dac0_10 dac0_11 dac0_12 dac0_13 dac0_14 dac0_15 dac1_0 -5.1_to_+4.5 -4.5_to_+4.4 -4.5_to_+4 -4_to+4 dac1_5 dac1_6 dac1_7 dac1_8 dac1_9 dac1_10 dac1_11 dac1_12 dac1_13 dac1_14 dac1_15 
END_DAC_SYSTEM
PICOSCREW
/* Screw-1 Value:*/		"!#EMPTY_STRING#!"
/* Screw-2 Value:*/		"!#EMPTY_STRING#!"
/* Screw-3 Value:*/		"!#EMPTY_STRING#!"
/* Screw-4 Value:*/		"!#EMPTY_STRING#!"
/*Control?*/			1
END_PICOSCREW
AI-SYSTEM
/*Query Between Variations?*/ 0
/*Query Continuously?*/ 0
/*Average Number:*/ 100
/*Contiuous Mode Interval:*/ 1000
/*Ai Names:*/ adc_a0 adc_a1 adc_a2 adc_a3 adc_a4 adc_a5 adc_a6 adc_a7 adc_b0 adc_b1 adc_b2 adc_b3 adc_b4 adc_b5 adc_b6 adc_b7 
/*Ai Notes:*/ None None None None None None None None None None None None None None None None 
/*Channel Ranges*/ Off Off Off Off Off Off Off Off Off Off Off Off Off Off Off Off 
END_AI-SYSTEM

CALIBRATION_MANAGER
/*Auto Cal Checked: */ 0
/*Calibration Number: */ 0
END_CALIBRATION_MANAGER
MAKO1_CAM
/*Mako System Active:*/ 0
/*Left:*/ 1
/*Top:*/ 100
/*Right:*/ 100
/*Bottom:*/ 1
/*H-Bin:*/ 1
/*V-Bin:*/ 1
/*Exposure Time:*/ -6.277438562204e+66
/*Frame Rate:*/ -6.277438562204e+66
/*Raw Gain:*/ 3452816845
/*Pics Per Rep:*/ 3452816845
/*Trigger Mode:*/ Line1
END_MAKO1_CAM
MAKO2_CAM
/*Mako System Active:*/ 0
/*Left:*/ 1
/*Top:*/ 100
/*Right:*/ 100
/*Bottom:*/ 1
/*H-Bin:*/ 1
/*V-Bin:*/ 1
/*Exposure Time:*/ -6.277438562204e+66
/*Frame Rate:*/ -6.277438562204e+66
/*Raw Gain:*/ 3452816845
/*Pics Per Rep:*/ 3452816845
/*Trigger Mode:*/ Line1
END_MAKO2_CAM
MAKO3_CAM
/*Mako System Active:*/ 0
/*Left:*/ 1
/*Top:*/ 100
/*Right:*/ 100
/*Bottom:*/ 1
/*H-Bin:*/ 1
/*V-Bin:*/ 1
/*Exposure Time:*/ -6.277438562204e+66
/*Frame Rate:*/ -6.277438562204e+66
/*Raw Gain:*/ 3452816845
/*Pics Per Rep:*/ 3452816845
/*Trigger Mode:*/ Line1
END_MAKO3_CAM
MAKO4_CAM
/*Mako System Active:*/ 0
/*Left:*/ 1
/*Top:*/ 100
/*Right:*/ 100
/*Bottom:*/ 1
/*H-Bin:*/ 1
/*V-Bin:*/ 1
/*Exposure Time:*/ -6.277438562204e+66
/*Frame Rate:*/ -6.277438562204e+66
/*Raw Gain:*/ 3452816845
/*Pics Per Rep:*/ 3452816845
/*Trigger Mode:*/ Line1
END_MAKO4_CAM
STATIC_DDS_SYSTEM
/* DDS Name:*/ dds0 dds1 dds2 dds3 dds4 dds5 dds6 dds7 
/* DDS-0 Frequency:*/		0.0
/* DDS-0 Level:*/		0.0
/* DDS-1 Frequency:*/		0.0
/* DDS-1 Level:*/		0.0
/* DDS-2 Frequency:*/		0.0
/* DDS-2 Level:*/		0.0
/* DDS-3 Frequency:*/		0.0
/* DDS-3 Level:*/		0.0
/* DDS-4 Frequency:*/		0.0
/* DDS-4 Level:*/		0.0
/* DDS-5 Frequency:*/		0.0
/* DDS-5 Level:*/		0.0
/* DDS-6 Frequency:*/		0.0
/* DDS-6 Level:*/		0.0
/* DDS-7 Frequency:*/		0.0
/* DDS-7 Level:*/		0.0
/*Control?*/			0
END_STATIC_DDS_SYSTEM
CONFIGURATION_NOTES
"!#EMPTY_STRING#!"
END_CONFIGURATION_NOTES
MAIN_OPTIONS
/*Randomize Variations?*/ 0
/*Repetition First Over Variation?*/ 0
/*In-Experiment Calibration?*/ 0
/*In-Experiment Calibration Interval*/ 10.0
/*Atom Threshold for Load Skip*/ -1
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
/*Sleep Time:*/						0
END_DEBUGGING_OPTIONS
REPETITIONS
/*Reps:*/100
END_REPETITIONS
